# ActorScore 구하는 코드
- 필요 코드 : credits.csv, movies_cleaned_removed_onehot_director2.csv, movies_metadata_date.csv
- 아웃풋 코드 : maindata_ver1.0.csv

In [1]:
import pandas as pd
import ast

In [3]:
cred = pd.read_csv('data/credits.csv')

print(cred.head())

                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [4]:
# Define a function to extract the top 3 actors (order 0 to 2)
def extract_top_actors(cast_data):
    cast_list = ast.literal_eval(cast_data)
    # Filter cast members by order 0, 1, 2
    top_actors = [member for member in cast_list if member.get('order') in [0, 1, 2]]
    # Initialize actor information with None
    actors_info = [None] * 6
    # Fill in the top 3 actors' information if available
    for idx, actor in enumerate(top_actors[:3]):
        actors_info[idx * 2] = actor.get('id')
        actors_info[idx * 2 + 1] = actor.get('name')
    return pd.Series(actors_info)

# Apply the function to extract top 3 actors for each movie in credits_df
cred[['actor1_id', 'actor1_name', 'actor2_id', 'actor2_name', 'actor3_id', 'actor3_name']] = cred['cast'].apply(extract_top_actors)

# Select the relevant columns including movie ID
actors_df = cred[['id', 'actor1_id', 'actor1_name', 'actor2_id', 'actor2_name', 'actor3_id', 'actor3_name']]

In [6]:
actors_df.to_csv('data/actors.csv', index=False)

In [9]:
result_df = pd.read_csv('data/movies_cleaned_removed_onehot_director2.csv')

result_df.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,Romance,Animation,Drama,Comedy,Foreign,Adventure,Science Fiction,Horror,director_recent_movie_ids,average_director_movie_revenue
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,0,1,0,1,0,0,0,0,"[13925, 13927, 13926, 13928]",123967
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,1,0,0,1,0,0,0,0,"[41579, 15143, 11522, 2617, 25269]",27214205
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,0,0,0,0,0,1,0,0,"[10447, 41952, 52660, 41787]",12657223
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,0,0,0,1,0,1,0,0,[],0
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,0,0,0,1,0,0,0,0,"[2758, 9024, 2907]",83855913

In [11]:
# Define a function to extract the top 3 actors (order 0 to 2)
def extract_top_actors(cast_data):
    cast_list = ast.literal_eval(cast_data)
    # Filter cast members by order 0, 1, 2
    top_actors = [member for member in cast_list if member.get('order') in [0, 1, 2]]
    # Initialize actor information with None
    actors_info = [None] * 6
    # Fill in the top 3 actors' information if available
    for idx, actor in enumerate(top_actors[:3]):
        actors_info[idx * 2] = actor.get('id')
        actors_info[idx * 2 + 1] = actor.get('name')
    return pd.Series(actors_info)

# Apply the function to extract top 3 actors for each movie in credits_df
cred[['actor1_id', 'actor1_name', 'actor2_id', 'actor2_name', 'actor3_id', 'actor3_name']] = cred['cast'].apply(extract_top_actors)

# Select the relevant columns including movie ID
actors_df = cred[['id', 'actor1_id', 'actor1_name', 'actor2_id', 'actor2_name', 'actor3_id', 'actor3_name']]

# Merge the actors_df with result_df on the movie ID column 'id'
merged_df = result_df.merge(actors_df, on='id', how='left')

In [12]:
merged_df.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,Science Fiction,Horror,director_recent_movie_ids,average_director_movie_revenue,actor1_id,actor1_name,actor2_id,actor2_name,actor3_id,actor3_name
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,0,0,"[13925, 13927, 13926, 13928]",123967,31.0,Tom Hanks,12898.0,Tim Allen,7167.0,Don Rickles
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,0,0,"[41579, 15143, 11522, 2617, 25269]",27214205,6837.0,Walter Matthau,3151.0,Jack Lemmon,13567.0,Ann-Margret
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,0,0,"[10447, 41952, 52660, 41787]",12657223,517.0,Pierce Brosnan,48.0,Sean Bean,10695.0,Izabella Scorupco
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,0,0,[],0,206.0,Jim Carrey,3547.0,Ian McNeice,4001.0,Simon Callow
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,0,0,"[2758, 9024, 2907]",83855913,8891.0,John Travolta,193.0,Gene Hackman,14343.0,Rene Russo

In [13]:
# Define a function to extract actor IDs from the 'cast' column
def extract_actor_ids(cast_data):
    cast_list = ast.literal_eval(cast_data)
    return [member.get('id') for member in cast_list]

# Apply the function to create a dictionary mapping actor IDs to their movie IDs
cred['actor_ids'] = cred['cast'].apply(extract_actor_ids)

actor_movie_dict = {}

# Populate the dictionary to map actor IDs to movie IDs
for _, row in cred.iterrows():
    movie_id = row['id']
    for actor_id in row['actor_ids']:
        if actor_id not in actor_movie_dict:
            actor_movie_dict[actor_id] = []
        actor_movie_dict[actor_id].append(movie_id)

# Define a function to get the list of movies for a given actor ID
def get_actor_movies(actor_id):
    return actor_movie_dict.get(actor_id, [])

# Apply the function to get actor movie IDs for actor1, actor2, and actor3 in merged_df
merged_df['actor1_movie_ids'] = merged_df['actor1_id'].apply(get_actor_movies)
merged_df['actor2_movie_ids'] = merged_df['actor2_id'].apply(get_actor_movies)
merged_df['actor3_movie_ids'] = merged_df['actor3_id'].apply(get_actor_movies)

In [14]:
merged_df.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,average_director_movie_revenue,actor1_id,actor1_name,actor2_id,actor2_name,actor3_id,actor3_name,actor1_movie_ids,actor2_movie_ids,actor3_movie_ids
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,123967,31.0,Tom Hanks,12898.0,Tim Allen,7167.0,Don Rickles,"[862, 568, 13, 9800, 858, 32562, 9591, 857, 11...","[862, 11395, 9446, 10371, 863, 926, 2185, 1231...","[862, 524, 18937, 14577, 18784, 863, 11589, 39..."
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,27214205,6837.0,Walter Matthau,3151.0,Jack Lemmon,13567.0,Ann-Margret,"[15602, 11777, 46732, 4808, 61536, 18080, 2747...","[15602, 695, 25697, 46732, 284, 239, 11575, 95...","[15602, 15300, 18588, 11326, 36492, 9563, 1152..."
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,12657223,517.0,Pierce Brosnan,48.0,Sean Bean,10695.0,Izabella Scorupco,"[710, 43742, 788, 10163, 25189, 75, 9619, 714,...","[710, 45549, 14522, 50512, 8195, 9869, 25497, ...","[710, 11678, 6278, 11026, 31273, 34079, 14666,..."
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,0,206.0,Jim Carrey,3547.0,Ian McNeice,4001.0,Simon Callow,"[9273, 414, 8467, 3049, 854, 9894, 1624, 37165...","[9273, 10612, 10447, 17894, 8067, 35292, 28308...","[9273, 87729, 712, 11667, 10539, 279, 11257, 1..."
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,83855913,8891.0,John Travolta,193.0,Gene Hackman,14343.0,Rene Russo,"[8012, 9208, 31611, 680, 9294, 7340, 621, 2928...","[8012, 11000, 8963, 12106, 12160, 37233, 35588...","[8012, 6950, 9386, 3595, 10478, 15170, 944, 94..."

In [15]:
metadata = pd.read_csv('data/movies_metadata_date.csv')

In [19]:
from datetime import datetime, timedelta

# Prepare the release date in metadata DataFrame
metadata['release_date'] = pd.to_datetime(
    metadata[['release_year', 'release_month', 'release_day']].rename(
        columns={'release_year': 'year', 'release_month': 'month', 'release_day': 'day'}
    ),
    errors='coerce'
)

# Create a dictionary to map movie IDs to release dates
movie_release_dates = metadata.set_index('id')['release_date'].to_dict()

# Define a function to filter actor movie IDs within the recent 3-year range
def filter_actor_movies_within_range(row, actor_column):
    movie_id = row['id']
    actor_movies = row[actor_column]
    
    # Get the release date of the current movie
    release_date = movie_release_dates.get(movie_id)
    
    if pd.isna(release_date):
        return []
    
    # Define the cutoff date as 5 years before the release date
    cutoff_date = release_date - timedelta(days=5*365)
    
    # Filter movies released within the range (cutoff_date, release_date - 1 day)
    recent_movies = [
        movie for movie in actor_movies
        if movie in movie_release_dates and cutoff_date < movie_release_dates[movie] < release_date
    ]
    
    return recent_movies

# Apply the function to filter actor movie IDs for actor1, actor2, and actor3 in merged_df
merged_df['actor1_recent_movie_ids'] = merged_df.apply(lambda row: filter_actor_movies_within_range(row, 'actor1_movie_ids'), axis=1)
merged_df['actor2_recent_movie_ids'] = merged_df.apply(lambda row: filter_actor_movies_within_range(row, 'actor2_movie_ids'), axis=1)
merged_df['actor3_recent_movie_ids'] = merged_df.apply(lambda row: filter_actor_movies_within_range(row, 'actor3_movie_ids'), axis=1)

In [20]:
merged_df.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor2_id,actor2_name,actor3_id,actor3_name,actor1_movie_ids,actor2_movie_ids,actor3_movie_ids,actor1_recent_movie_ids,actor2_recent_movie_ids,actor3_recent_movie_ids
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,12898.0,Tim Allen,7167.0,Don Rickles,"[862, 568, 13, 9800, 858, 32562, 9591, 857, 11...","[862, 11395, 9446, 10371, 863, 926, 2185, 1231...","[862, 524, 18937, 14577, 18784, 863, 11589, 39...","[568, 13, 9800, 858, 9586, 11287, 20763]",[11395],[27381]
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,3151.0,Jack Lemmon,13567.0,Ann-Margret,"[15602, 11777, 46732, 4808, 61536, 18080, 2747...","[15602, 695, 25697, 46732, 284, 239, 11575, 95...","[15602, 15300, 18588, 11326, 36492, 9563, 1152...","[11777, 46732, 820, 11520, 12139, 248706]","[695, 46732, 9504, 10403, 820, 11520]","[15300, 11520]"
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,48.0,Sean Bean,10695.0,Izabella Scorupco,"[710, 43742, 788, 10163, 25189, 75, 9619, 714,...","[710, 45549, 14522, 50512, 8195, 9869, 25497, ...","[710, 11678, 6278, 11026, 31273, 34079, 14666,...","[43742, 788, 10163, 12629, 20435]","[45549, 14522, 9869, 75136, 75137, 75138, 6978...",[]
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,3547.0,Ian McNeice,4001.0,Simon Callow,"[9273, 414, 8467, 3049, 854, 9894, 1624, 37165...","[9273, 10612, 10447, 17894, 8067, 35292, 28308...","[9273, 87729, 712, 11667, 10539, 279, 11257, 1...","[414, 8467, 3049, 854, 22792, 22795, 24665]","[10612, 10447, 35292, 10170, 44941, 45562]","[87729, 712, 11667, 8293, 111815, 89738]"
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,193.0,Gene Hackman,14343.0,Rene Russo,"[8012, 9208, 31611, 680, 9294, 7340, 621, 2928...","[8012, 11000, 8963, 12106, 12160, 37233, 35588...","[8012, 6950, 9386, 3595, 10478, 15170, 944, 94...","[680, 11982, 50677, 9356, 25674, 101897]","[8963, 12106, 12160, 37233, 35588, 33, 32074, ...","[6950, 9386, 943, 9278, 71142]"

In [21]:
# Create a dictionary to map movie IDs to revenue values
movie_revenue_dict = metadata.set_index('id')['revenue'].to_dict()

# Define a function to calculate the average revenue for actor_recent_movie_ids
def calculate_average_revenue_for_actor(row, actor_recent_movie_column):
    movie_ids = row[actor_recent_movie_column]
    
    # Get the revenue values for the movie IDs
    revenues = [movie_revenue_dict.get(movie_id, 0) for movie_id in movie_ids if movie_revenue_dict.get(movie_id, 0) > 0]
    
    # Calculate the average revenue, excluding 0 values
    if len(revenues) > 0:
        return sum(revenues) / len(revenues)
    else:
        return 0

# Apply the function to calculate the average revenue for actor1, actor2, and actor3 in merged_df
merged_df['actor1_average_revenue'] = merged_df.apply(lambda row: calculate_average_revenue_for_actor(row, 'actor1_recent_movie_ids'), axis=1)
merged_df['actor2_average_revenue'] = merged_df.apply(lambda row: calculate_average_revenue_for_actor(row, 'actor2_recent_movie_ids'), axis=1)
merged_df['actor3_average_revenue'] = merged_df.apply(lambda row: calculate_average_revenue_for_actor(row, 'actor3_recent_movie_ids'), axis=1)

# Define a function to calculate the actor_score, which is the average of the non-zero actor average revenues
def calculate_actor_score(row):
    actor_revenues = [row['actor1_average_revenue'], row['actor2_average_revenue'], row['actor3_average_revenue']]
    non_zero_revenues = [rev for rev in actor_revenues if rev > 0]
    
    if len(non_zero_revenues) > 0:
        return sum(non_zero_revenues) / len(non_zero_revenues)
    else:
        return 0

# Apply the function to calculate the actor_score and add it as a new column in merged_df
merged_df['actor_score'] = merged_df.apply(calculate_actor_score, axis=1)

In [23]:
# actor_score 정수로 반올림
merged_df['actor_score'] = merged_df['actor_score'].round(0).astype(int)

merged_df.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor1_movie_ids,actor2_movie_ids,actor3_movie_ids,actor1_recent_movie_ids,actor2_recent_movie_ids,actor3_recent_movie_ids,actor1_average_revenue,actor2_average_revenue,actor3_average_revenue,actor_score
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,"[862, 568, 13, 9800, 858, 32562, 9591, 857, 11...","[862, 11395, 9446, 10371, 863, 926, 2185, 1231...","[862, 524, 18937, 14577, 18784, 863, 11589, 39...","[568, 13, 9800, 858, 9586, 11287, 20763]",[11395],[27381],2.314125e+08,1.898334e+08,0.000000e+00,210622908
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,"[15602, 11777, 46732, 4808, 61536, 18080, 2747...","[15602, 695, 25697, 46732, 284, 239, 11575, 95...","[15602, 15300, 18588, 11326, 36492, 9563, 1152...","[11777, 46732, 820, 11520, 12139, 248706]","[695, 46732, 9504, 10403, 820, 11520]","[15300, 11520]",1.048144e+08,6.282956e+07,3.645318e+07,68032369
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,"[710, 43742, 788, 10163, 25189, 75, 9619, 714,...","[710, 45549, 14522, 50512, 8195, 9869, 25497, ...","[710, 11678, 6278, 11026, 31273, 34079, 14666,...","[43742, 788, 10163, 12629, 20435]","[45549, 14522, 9869, 75136, 75137, 75138, 6978...",[],1.638866e+08,1.780516e+08,0.000000e+00,170969111
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,"[9273, 414, 8467, 3049, 854, 9894, 1624, 37165...","[9273, 10612, 10447, 17894, 8067, 35292, 28308...","[9273, 87729, 712, 11667, 10539, 279, 11257, 1...","[414, 8467, 3049, 854, 22792, 22795, 24665]","[10612, 10447, 35292, 10170, 44941, 45562]","[87729, 712, 11667, 8293, 111815, 89738]",2.085212e+08,1.916900e+07,9.343130e+07,107040513
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,"[8012, 9208, 31611, 680, 9294, 7340, 621, 2928...","[8012, 11000, 8963, 12106, 12160, 37233, 35588...","[8012, 6950, 9386, 3595, 10478, 15170, 944, 94...","[680, 11982, 50677, 9356, 25674, 101897]","[8963, 12106, 12160, 37233, 35588, 33, 32074, ...","[6950, 9386, 943, 9278, 71142]",6.889426e+07,9.699749e+07,1.764293e+08,114107021

In [24]:
# 저장
merged_df.to_csv('data/maindata_ver1.0.csv', index=False)

In [26]:
# actor_score가 0인 값 찾기
merged_df[merged_df['actor_score'] == 0]

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor1_movie_ids,actor2_movie_ids,actor3_movie_ids,actor1_recent_movie_ids,actor2_recent_movie_ids,actor3_recent_movie_ids,actor1_average_revenue,actor2_average_revenue,actor3_average_revenue,actor_score
17,Bryan Spicer,42111.0,9070,15000000,7.024227,66400000,92.0,Mighty Morphin Power Rangers: The Movie,5.2,153.0,...,"[9070, 6499, 22256, 20312, 210937, 113882, 188...","[9070, 6499, 87018, 305470]",[9070],[],[],[],0.0,0.0,0.0,0
22,Kevin Smith,19303.0,2292,27575,10.513367,3151130,92.0,Clerks,7.4,769.0,...,"[2293, 2292, 2255, 1832, 2294, 19085, 2295, 43...","[2292, 1832, 2294, 132422, 2295, 10358, 43208,...","[2293, 2292, 2255, 1832, 4234, 2294, 19085, 27...",[],[],[],0.0,0.0,0.0,0
63,Francis Ford Coppola,1776.0,238,6000000,41.109264,245066411,175.0,The Godfather,8.5,6024.0,...,"[1909, 238, 9306, 702, 28, 654, 1924, 4825, 46...","[949, 40628, 11062, 6075, 238, 42314, 9504, 10...","[13685, 18551, 18133, 9268, 281085, 238, 10723...","[46498, 3547, 46495, 42617, 42526, 149320]","[27554, 181553]","[18047, 59231, 27441, 76875, 65049, 111981, 14...",0.0,0.0,0.0,0
69,George A. Romero,14999.0,10331,114000,14.384198,30000000,96.0,Night of the Living Dead,7.5,591.0,...,"[10331, 17667, 273896]","[10331, 250577, 370664]","[10331, 27766]",[],[],[],0.0,0.0,0.0,0
87,Nick Park,7314.0,530,17300,7.617298,40118,23.0,A Grand Day Out,7.4,199.0,...,"[532, 531, 530, 29748, 533, 28752, 13802, 1444...",[],[],[],[],[],0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,Vivek Agnihotri,126763.0,109907,1300000,0.679086,2300000,141.0,Hate Story,6.4,11.0,...,[109907],"[235984, 325892, 109907, 77864, 408624]","[127531, 109907]",[],[77864],[],0.0,0.0,0.0,0
1181,Harold Cronk,937340.0,347126,5000000,5.957998,24487848,121.0,God's Not Dead 2,5.6,73.0,...,[347126],"[15037, 14429, 19405, 11397, 16234, 58918, 343...","[9293, 17166, 25137, 17334, 47518, 14607, 2937...",[],[],"[293771, 346489]",0.0,0.0,0.0,0
1191,Konstantin Bronzit,108107.0,33065,4000000,1.760091,1732414,72.0,Alesha Popovich and Tugarin the Dragon,6.1,20.0,...,"[33065, 52939]","[33065, 52939]","[370545, 33065, 314946, 133684]",[],[],[],0.0,0.0,0.0,0
1192,Ilya Maksimov,146922.0,33534,4500000,1.833185,3620000,65.0,Nikitich and The Dragon,6.4,14.0,...,"[33534, 365544]",[],[],[],[],[],0.0,0.0,0.0,0
1216,Pavel Sanaev,118324.0,37656,3500000,1.900502,3704408,97.0,Hooked on the Game,6.0,13.0,...,"[37851, 37656, 423360]","[51285, 37851, 37656]","[208763, 428356, 250251, 37851, 37656, 71381, ...",[],[],[71381],0.0,0.0,0.0,0

In [28]:
#actor1or2or3_recent_movie_ids 중 빈 리스트가 아닌 행 중에 actor_score가 0인 값 찾기
merged_df[((merged_df['actor1_recent_movie_ids'].apply(len) > 0) | (merged_df['actor2_recent_movie_ids'].apply(len) > 0) | (merged_df['actor3_recent_movie_ids'].apply(len) > 0)) & (merged_df['actor_score'] == 0)]

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor1_movie_ids,actor2_movie_ids,actor3_movie_ids,actor1_recent_movie_ids,actor2_recent_movie_ids,actor3_recent_movie_ids,actor1_average_revenue,actor2_average_revenue,actor3_average_revenue,actor_score
63,Francis Ford Coppola,1776.0,238,6000000,41.109264,245066411,175.0,The Godfather,8.5,6024.0,...,"[1909, 238, 9306, 702, 28, 654, 1924, 4825, 46...","[949, 40628, 11062, 6075, 238, 42314, 9504, 10...","[13685, 18551, 18133, 9268, 281085, 238, 10723...","[46498, 3547, 46495, 42617, 42526, 149320]","[27554, 181553]","[18047, 59231, 27441, 76875, 65049, 111981, 14...",0.0,0.0,0.0,0
90,Sam Raimi,7623.0,765,3500000,13.520764,10900000,84.0,Evil Dead II,7.5,760.0,...,"[10329, 11934, 275, 10061, 766, 765, 14908, 76...",[765],"[765, 10351, 9556, 558, 15771, 14240, 68728, 4...",[21627],[],[],0.0,0.0,0.0,0
93,Samuel Armstrong,5691.0,756,2280000,8.037960,76411819,124.0,Fantasia,7.2,831.0,...,[756],"[756, 53565, 14906, 46929, 48471, 22752, 23456...",[],[],"[53219, 32428, 66997, 66819, 67661, 67113, 668...",[],0.0,0.0,0.0,0
161,Steve Miner,58712.0,9728,2200000,7.992290,36690067,95.0,Friday the 13th Part III,5.7,257.0,...,"[9728, 14854, 20674, 78552]","[9728, 15004]","[9728, 40866]",[],[],[40866],0.0,0.0,0.0,0
197,John Lounsbery,69003.0,11319,7500000,11.324420,169000000,78.0,The Rescuers,6.7,609.0,...,"[10806, 11135, 11319, 10364, 10327, 10719, 382...","[10112, 17281, 57575, 1480, 11135, 11319, 5247...","[25445, 47908, 11319, 32081, 108312, 15867, 77...",[],[],"[5122, 107774, 131172]",0.0,0.0,0.0,0
219,Ishirô Honda,18598.0,1678,900000,13.153272,2250000,96.0,Godzilla,6.9,194.0,...,"[1678, 44662, 1682, 18983, 3115, 19545, 15767,...","[1678, 18983, 43226, 12561]","[1678, 1680, 11712, 18983, 35072, 43226, 38582...",[],[],[31372],0.0,0.0,0.0,0
255,Tobe Hooper,10051.0,30497,140000,15.526413,30900000,83.0,The Texas Chain Saw Massacre,7.1,617.0,...,"[30497, 16780, 30062, 26525, 19740, 76617, 145...","[30497, 89445]","[30497, 16780, 11615, 21948, 32051, 172340]",[26525],[89445],[172340],0.0,0.0,0.0,0
292,Graham Baker,43513.0,10768,5000000,7.798615,20471382,108.0,Omen III: The Final Conflict,5.5,132.0,...,"[35196, 10714, 2654, 329, 713, 12519, 124460, ...","[10768, 17352, 34689, 25848, 10536, 43436, 503...","[11587, 941, 5919, 10768, 5924, 4986, 15497, 2...","[16659, 37582]",[],[39269],0.0,0.0,0.0,0
293,Jim Abrahams,12936.0,813,3500000,13.063203,83453539,88.0,Airplane!,7.1,1104.0,...,"[25059, 10552, 813, 2665, 10763, 42371, 11918,...","[10155, 813, 2665, 12220, 19489, 10276, 38718,...","[10525, 11164, 14013, 9749, 813, 13333, 22102,...",[23692],[],"[13333, 54013]",0.0,0.0,0.0,0
310,Sergio Leone,4385.0,391,200000,12.429704,14500000,99.0,A Fistful of Dollars,7.6,909.0,...,"[688, 8839, 9386, 9559, 429, 33, 66, 8879, 100...","[391, 76372]","[391, 48211, 938, 11657, 26451, 65048, 23832, ...",[],[],"[65048, 146563, 146563, 49697, 187737, 225940,...",0.0,0.0,0.0,0
318,Guy Hamilton,9915.0,253,7000000,9.773768,126377836,121.0,Live and Let Die,6.4,540.0,...,"[9103, 57575, 6116, 707, 699, 253, 19664, 691,...","[19760, 25557, 348, 11284, 912, 253, 9013, 148...","[16633, 18937, 253, 11940, 26179, 23615, 9522,...","[4910, 107321, 152393, 152388]","[23847, 4993, 27012, 95556, 373514]","[21335, 66775]",0.0,0.0,0.0,0
341,James Frawley,68457.0,11176,8000000,6.769866,65200000,97.0,The Muppet Movie,7.0,168.0,...,"[814, 11639, 11176, 14900, 11899, 36536, 11338...","[10874, 1891, 1892, 525, 814, 11639, 1893, 102...","[11639, 10208, 16112, 5549, 11176, 14900, 1189...",[20785],[20785],[20785],0.0,0.0,0.0,0
368,Bob Clark,12698.0,10246,4000000,12.650546,125700000,94.0,Porky's,6.1,185.0,...,"[12238, 22345, 10246, 19698, 23919, 42146]","[10246, 19698, 23919, 44801, 21871]","[10246, 19698, 23919]",[42146],[],[],0.0,0.0,0.0,0
373,Michael Herz,78023.0,28169,500000,1.883822,363561,102.0,The Toxic Avenger Part III: The Last Temptatio...,5.0,28.0,...,"[28165, 28169, 27815]","[28165, 28169]","[26554, 15239, 28165, 28169, 27601, 28173, 136...",[28165],[28165],"[26554, 28165, 28173]",0.0,0.0,0.0,0
375,George Miller,20629.0,9659,350000,11.412619,100000000,93.0,Mad Max,6.6,1235.0,...,"[10530, 197, 8839, 9359, 10502, 3595, 12499, 8...","[9659, 71730]","[9659, 21512, 60269, 13905, 86283, 76341, 6059...",[5731],[],"[60269, 21990]",0.0,0.0,0.0,0
398,Anthony Hickox,48965.0,11569,5000000,6.546551,12534961,93.0,Hellraiser III: Hell on Earth,5.3,160.0,...,"[11569, 29231]","[15596, 11569, 218931, 45326, 89068]","[11569, 55563, 109425]",[],[],[109425],0.0,0.0,0.0,0
412,Sam Raimi,7623.0,764,350000,10.421679,29612367,85.0,The Evil Dead,7.3,913.0,...,"[10329, 11934, 275, 10061, 766, 765, 14908, 76...","[764, 68728, 109428, 61233, 2186]",[764],[2186],[2186],[],0.0,0.0,0.0,0
465,David Irving,147594.0,53150,49200000,4.980211,62405000,85.0,C.H.U.D. II: Bud the Chud,3.5,25.0,...,[53150],"[53150, 557, 558, 214827]","[288173, 53150, 11044, 134153]",[],[],[134153],0.0,0.0,0.0,0
487,Don Coscarelli,58245.0,16441,8000000,5.577636,14056528,118.0,The Beastmaster,6.0,99.0,...,"[16441, 210092, 27549, 32052, 13027, 16398, 15...","[707, 16441, 24264, 63435, 152206, 85511, 1092...","[11861, 9101, 1775, 5550, 17770, 11970, 607, 1...","[210092, 32052, 22519]","[63435, 85511, 196065, 13570]","[11223, 47906, 42157, 124210]",0.0,0.0,0.0,0
496,Robin Budd,1027737.0,16690,20000000,8.759774,109862682,72.0,Return to Never Land,6.1,304.0,...,[16690],"[16690, 15098, 112161, 180688, 184866, 277388]","[19004, 15969, 14919, 16690, 10715, 15653, 114...",[],[15098],"[15653, 15400, 13313, 13761, 18269, 19165, 173...",0.0,0.0,0.0,0
522,Dale Schott,85365.0,19975,3400000,2.508783,12000000,76.0,Care Bears Movie II: A New Generation,5.5,11.0,...,"[8536, 19975, 57221]","[19975, 32083, 21356, 278822, 125464, 71445, 1...","[16340, 10865, 19975, 14317, 20694, 19016, 896...",[],"[21356, 71445]",[],0.0,0.0,0.0,0
553,Rob Zombie,16848.0,2662,7000000,11.009130,17949758,89.0,House of 1000 Corpses,6.0,310.0,...,"[184, 681, 22021, 22048, 22910, 42517, 28893, ...","[2625, 16337, 9599, 20006, 12724, 12227, 2662,...","[2662, 1696, 16764, 2082, 24150, 23127, 104755...",[],[12724],[],0.0,0.0,0.0,0
563,Danny Boyle,2034.0,170,8000000,17.656951,85700000,113.0,28 Days Later,7.1,1816.0,...,"[80070, 170, 3635, 2289, 16941, 26126, 272, 11...","[170, 10589, 20357, 8435, 58, 82, 285, 1266, 1...","[8413, 170, 411, 14145, 39463, 58595, 85449, 4...","[80070, 26126, 27123]",[],[],0.0,0.0,0.0,0
579,George A. Romero,14999.0,8408,3500000,8.801822,34000000,96.0,Day of the Dead,6.9,276.0,...,[8408],"[8834, 8408, 47825, 38084]","[680, 10351, 22167, 125337, 8408, 923, 363890,...",[],[47825],[22167],0.0,0.0,0.0,0
614,Hayao Miyazaki,608.0,15371,7202188,7.932795,8194857,110.0,Lupin the Third: The Castle of Cagliostro,7.5,170.0,...,"[15371, 21036, 30143, 31051]","[15371, 42137, 59719, 109572, 30143, 30575, 31...","[15371, 59719, 109572, 30143, 192577, 17922, 6...",[30143],[30143],[30143],0.0,0.0,0.0,0
619,Alan Metter,69801.0,11546,10000000,6.168241,126247,83.0,Police Academy: Mission to Moscow,4.1,178.0,...,"[32636, 9442, 9336, 10157, 12118, 10587, 11825...","[9336, 10587, 11825, 11895, 38921, 9507, 10019...","[9336, 12118, 10587, 11825, 11895, 11546, 1696...",[22059],[238458],[],0.0,0.0,0.0,0
657,Park Chan-wook,10099.0,4689,4000000,6.314697,1954937,121.0,Sympathy for Mr. Vengeance,7.3,302.0,...,"[10355, 2440, 4689, 11423, 52663, 4550, 1255, ...","[2440, 4689, 11297, 4550, 43987, 22536, 14968,...","[37288, 4689, 27337, 1255, 25053, 21531, 11862...","[10355, 2440, 52663, 74336]","[2440, 23609]","[37288, 21531]",0.0,0.0,0.0,0
661,Park Chan-wook,10099.0,670,3000000,10.616859,17500000,120.0,Oldboy,8.0,2000.0,...,"[18302, 10355, 670, 11658, 4550, 18704, 49797,...","[16606, 670, 14573, 16447, 95453, 49190, 81760...","[670, 33908, 4550, 38025, 14968, 49190, 114661...","[18302, 10355, 18704, 27154]","[16606, 14573, 95453, 81760, 27316]",[],0.0,0.0,0.0,0
672,Timur Bekmambetov,23430.0,3040,10000000,8.803869,50336279,114.0,Night Watch,6.3,212.0,...,"[3040, 2269, 8909, 13506, 49517, 72190, 225235...","[3040, 2269, 85317, 70966, 74711, 184155, 3233...","[3040, 2269, 62729]",[20884],[],[62729],0.0,0.0,0.0,0
676,Norio Tsuruta,58677.0,9674,6000000,5.007142,11918069,99.0,Ringu 0,5.8,49.0,...,"[9674, 10116, 70846, 61492, 239367, 36613]","[26895, 9674, 89800, 36242, 72933, 72592, 5046...","[27324, 11662, 9674, 68528, 12166, 14525, 1622...","[70846, 36613]","[36242, 72933]","[68528, 48341]",0.0,0.0,0.0,0
680,A. Edward Sutherland,89669.0,28423,269062,1.294231,659600,72.0,The Invisible Woman,6.0,5.0,...,"[43277, 33740, 43872, 85926, 28423, 26387, 108...","[33680, 31993, 3016, 43132, 39130, 31835, 2842...","[900, 19186, 127973, 19762, 195, 40454, 20277,...","[43277, 43872, 80771, 127812, 197737, 99863, 1...","[31993, 43847, 43879, 43862, 114638, 278283, 1...","[900, 132928, 195068, 52437]",0.0,0.0,0.0,0
684,Kazuki Omori,72823.0,18289,5000000,6.297432,7000000,105.0,Godzilla vs. Biollante,6.5,25.0,...,[18289],"[9674, 185987, 18289]","[18289, 15767, 349176]",[],[185987],[],0.0,0.0,0.0,0
688,Yoshimitsu Banno,235715.0,39464,250000,2.631502,2768400,87.0,Godzilla vs. Hedorah,6.3,26.0,...,"[39464, 17099, 88435, 41482, 31104]","[34326, 39464, 46917, 58878, 52980]","[33205, 39464, 39264]",[],[],[33205],0.0,0.0,0.0,0
702,Greg McLean,59998.0,9885,1000000,7.483385,30894796,99.0,Wolf Creek,6.1,288.0,...,"[11020, 9885, 13022, 6972, 16194, 68718, 19953...","[9885, 370178]","[10727, 9885, 53214, 14067]",[],[],"[10727, 14067]",0.0,0.0,0.0,0
762,Takao Okawara,50651.0,12561,10000000,2.672437,18000000,103.0,Godzilla vs. Destoroyah,6.5,30.0,...,"[12561, 372821]",[12561],"[12561, 42341, 178736, 178736, 178736, 36063]",[],[],"[178736, 178736, 178736]",0.0,0.0,0.0,0
784,Jaume Balagueró,54525.0,8329,1500000,8.504511,32511655,78.0,[REC],7.1,954.0,...,"[4043, 8329, 10664, 185341]","[8329, 10664, 33842]","[8329, 30713, 10664, 37609]",[],[],[37609],0.0,0.0,0.0,0
1025,Christian Duguay,25735.0,24331,5000000,2.201123,14225876,104.0,Scanners II: The New Order,4.6,22.0,...,"[431, 48864, 10133, 10981, 14527, 18632, 41966...","[24873, 31579, 18196, 97831, 24331, 42456, 184...","[42832, 11590, 19568, 24331]","[48864, 41966]",[],[],0.0,0.0,0.0,0
1029,Masaaki Tezuka,73189.0,39468,8300000,2.073747,11068800,105.0,Godzilla vs. Megaguirus,5.6,24.0,...,"[39468, 382602]","[10110, 68528, 15767, 41845, 19486, 36175, 242...","[36282, 31512, 15877, 13391, 39468, 43635, 584...",[],[68528],[36282],0.0,0.0,0.0,0
1051,André Pellenz,1185620.0,203217,2000000,4.402871,20552094,85.0,My Mom Is a Character,7.7,117.0,...,"[29314, 203217, 303982, 227932, 227970]","[203217, 227932]","[203217, 228198, 227932]",[29314],[],[],0.0,0.0,0.0,0
1110,Jaume Balagueró,54525.0,185341,3000000,7.328242,4915757,95.0,[REC]⁴ Apocalypse,5.2,269.0,...,"[4043, 8329, 10664, 185341]","[26165, 3865, 118116, 215848, 185341, 33842]","[80713, 219, 185341, 209251, 347669]",[],[215848],[209251],0.0,0.0,0.0,0
1116,Thomas Gilou,113610.0,39385,4000000,5.099557,29456000,100.0,La vérité si je mens !,6.3,98.0,...,"[6320, 40417, 39385, 38198, 86868, 31359, 1391...","[33095, 11958, 61658, 8434, 59145, 228194, 453...","[7452, 4485, 166, 1716, 10656, 37335, 13506, 2...",[],[33095],"[66447, 39315]",0.0,0.0,0.0,0
1118,Dmitriy Dyachenko,115122.0,35428,1950000,3.022666,12005838,93.0,What Men Talk About,7.6,46.0,...,"[35428, 25936, 20963, 253192, 83456, 376716, 1...","[35428, 25936, 20963, 253192, 83456, 376716, 1...","[35428, 25936, 20963, 253192, 83456, 376716, 1...","[25936, 20963]","[25936, 20963]","[25936, 20963]",0.0,0.0,0.0,0
1163,Vivek Agnihotri,126763.0,109907,1300000,0.679086,2300000,141.0,Hate Story,6.4,11.0,...,[109907],"[235984, 325892, 109907, 77864, 408624]","[127531, 109907]",[],[77864],[],0.0,0.0,0.0,0
1181,Harold Cronk,937340.0,347126,5000000,5.957998,24487848,121.0,God's Not Dead 2,5.6,73.0,...,[347126],"[15037, 14429, 19405, 11397, 16234, 58918, 343...","[9293, 17166, 25137, 17334, 47518, 14607, 2937...",[],[],"[293771, 346489]",0.0,0.0,0.0,0
1216,Pavel Sanaev,118324.0,37656,3500000,1.900502,3704408,97.0,Hooked on the Game,6.0,13.0,...,"[37851, 37656, 423360]","[51285, 37851, 37656]","[208763, 428356, 250251, 37851, 37656, 71381, ...",[],[],[71381],0.0,0.0,0.0,0

In [29]:
# Step 1: Calculate vote_count-based average revenue for movies with non-zero revenue
# Filter out movies with revenue > 0 and group by vote_count to get average revenue
valid_revenues_df = metadata[metadata['revenue'] > 0]
vote_count_avg_revenue = valid_revenues_df.groupby('vote_count')['revenue'].mean().to_dict()


# Create a dictionary to map movie IDs to vote count
movie_vote_count_dict = metadata.set_index('id')['vote_count'].to_dict()

# Define a function to handle missing actor_score for the 45 cases where actor score is 0 but actors have recent movies
def estimate_actor_score(row):
    # If the actor_score is non-zero, keep it as is
    if row['actor_score'] > 0:
        return row['actor_score']
    
    # Prepare a list to hold estimated revenues for actor1, actor2, actor3
    estimated_revenues = []
    
    # Iterate through actor1, actor2, actor3 average revenue columns
    for actor_column in ['actor1_recent_movie_ids', 'actor2_recent_movie_ids', 'actor3_recent_movie_ids']:
        movie_ids = row[actor_column]
        
        # Get the vote_count for each movie and calculate an estimated revenue based on the average revenue per vote_count
        actor_estimated_revenues = []
        for movie_id in movie_ids:
            vote_count = movie_vote_count_dict.get(movie_id)
            if vote_count in vote_count_avg_revenue:
                actor_estimated_revenues.append(vote_count_avg_revenue[vote_count])
        
        # Calculate the average of estimated revenues if available and add to the list
        if len(actor_estimated_revenues) > 0:
            estimated_revenues.append(sum(actor_estimated_revenues) / len(actor_estimated_revenues))
    
    # Calculate the final actor_score as the average of estimated revenues, excluding 0 values
    if len(estimated_revenues) > 0:
        return sum(estimated_revenues) / len(estimated_revenues)
    else:
        return 0

# Apply the function to estimate the missing actor_score values
merged_df['actor_score'] = merged_df.apply(estimate_actor_score, axis=1)

In [33]:
# actor_score 정수로 반올림
merged_df['actor_score'] = merged_df['actor_score'].round(0).astype(int)

In [35]:
# 저장
merged_df.to_csv('data/maindata_ver1.1.csv', index=False)

In [36]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225 entries, 0 to 1224
Data columns (total 53 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   director_name                   1225 non-null   object
 1   director_id                     1225 non-null   float64
 2   id                              1225 non-null   int64
 3   budget                          1225 non-null   int64
 4   popularity                      1225 non-null   float64
 5   revenue                         1225 non-null   int64
 6   runtime                         1225 non-null   float64
 7   title                           1225 non-null   object
 8   vote_average                    1225 non-null   float64
 9   vote_count                      1225 non-null   float64
 10  release_year                    1225 non-null   int64
 11  release_month                   1225 non-null   int64
 12  release_day                     1225 non-null   int64
 13  collection_id                   1225 non-null   int64
 14  collection_name                 1225 non-null   object
 15  War                             1225 non-null   int64
 16  Thriller                        1225 non-null   int64
 17  Music                           1225 non-null   int64
 18  Fantasy                         1225 non-null   int64
 19  TV Movie                        1225 non-null   int64
 20  Crime                           1225 non-null   int64
 21  Action                          1225 non-null   int64
 22  Documentary                     1225 non-null   int64
 23  Western                         1225 non-null   int64
 24  History                         1225 non-null   int64
 25  Family                          1225 non-null   int64
 26  Mystery                         1225 non-null   int64
 27  Romance                         1225 non-null   int64
 28  Animation                       1225 non-null   int64
 29  Drama                           1225 non-null   int64
 30  Comedy                          1225 non-null   int64
 31  Foreign                         1225 non-null   int64
 32  Adventure                       1225 non-null   int64
 33  Science Fiction                 1225 non-null   int64
 34  Horror                          1225 non-null   int64
 35  director_recent_movie_ids       1225 non-null   object
 36  average_director_movie_revenue  1225 non-null   int64
 37  actor1_id                       1221 non-null   float64
 38  actor1_name                     1221 non-null   object
 39  actor2_id                       1216 non-null   float64
 40  actor2_name                     1216 non-null   object
 41  actor3_id                       1176 non-null   float64
 42  actor3_name                     1176 non-null   object
 43  actor1_movie_ids                1225 non-null   object
 44  actor2_movie_ids                1225 non-null   object
 45  actor3_movie_ids                1225 non-null   object
 46  actor1_recent_movie_ids         1225 non-null   object
 47  actor2_recent_movie_ids         1225 non-null   object
 48  actor3_recent_movie_ids         1225 non-null   object
 49  actor1_average_revenue          1225 non-null   float64
 50  actor2_average_revenue          1225 non-null   float64
 51  actor3_average_revenue          1225 non-null   float64
 52  actor_score                     1225 non-null   int64
dtypes: float64(11), int64(29), object(13)
memory usage: 507.4+ KB

In [37]:
# director_recent_movie_id, actor1_movie_ids, actor2_movie_ids, actor3_movie_ids, actor1_recent_movie_ids, actor2_recent_movie_ids, actor3_recent_movie_ids 컬럼 삭제
merged_df = merged_df.drop(columns=['director_recent_movie_ids', 'actor1_movie_ids', 'actor2_movie_ids', 'actor3_movie_ids', 'actor1_recent_movie_ids', 'actor2_recent_movie_ids', 'actor3_recent_movie_ids'])
merged_df.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor1_id,actor1_name,actor2_id,actor2_name,actor3_id,actor3_name,actor1_average_revenue,actor2_average_revenue,actor3_average_revenue,actor_score
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,31.0,Tom Hanks,12898.0,Tim Allen,7167.0,Don Rickles,2.314125e+08,1.898334e+08,0.000000e+00,210622908
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,6837.0,Walter Matthau,3151.0,Jack Lemmon,13567.0,Ann-Margret,1.048144e+08,6.282956e+07,3.645318e+07,68032369
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,517.0,Pierce Brosnan,48.0,Sean Bean,10695.0,Izabella Scorupco,1.638866e+08,1.780516e+08,0.000000e+00,170969111
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,206.0,Jim Carrey,3547.0,Ian McNeice,4001.0,Simon Callow,2.085212e+08,1.916900e+07,9.343130e+07,107040513
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,8891.0,John Travolta,193.0,Gene Hackman,14343.0,Rene Russo,6.889426e+07,9.699749e+07,1.764293e+08,114107021

In [38]:
# actor1_average_revenue actor1 score로 교체
# acotr2, actor3도 동일하게 적용
# average_director_movie_revenue director_score로 교체

merged_df = merged_df.rename(columns={'actor1_average_revenue': 'actor1_score', 'actor2_average_revenue': 'actor2_score', 'actor3_average_revenue': 'actor3_score', 'average_director_movie_revenue': 'director_score'})

In [40]:
# 저장
merged_df.to_csv('data/maindata_ver1.2.csv', index=False)