In [1]:
import pandas as pd
import ast

In [3]:
cred = pd.read_csv('data/credits.csv')

print(cred.head())

                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [4]:
# Define a function to extract the top 3 actors (order 0 to 2)
def extract_top_actors(cast_data):
    cast_list = ast.literal_eval(cast_data)
    # Filter cast members by order 0, 1, 2
    top_actors = [member for member in cast_list if member.get('order') in [0, 1, 2]]
    # Initialize actor information with None
    actors_info = [None] * 6
    # Fill in the top 3 actors' information if available
    for idx, actor in enumerate(top_actors[:3]):
        actors_info[idx * 2] = actor.get('id')
        actors_info[idx * 2 + 1] = actor.get('name')
    return pd.Series(actors_info)

# Apply the function to extract top 3 actors for each movie in credits_df
cred[['actor1_id', 'actor1_name', 'actor2_id', 'actor2_name', 'actor3_id', 'actor3_name']] = cred['cast'].apply(extract_top_actors)

# Select the relevant columns including movie ID
actors_df = cred[['id', 'actor1_id', 'actor1_name', 'actor2_id', 'actor2_name', 'actor3_id', 'actor3_name']]

In [5]:
actors_df.to_csv('data/actors.csv', index=False)

,id,actor1_id,actor1_name,actor2_id,actor2_name,actor3_id,actor3_name
0,862,31.0,Tom Hanks,12898.0,Tim Allen,7167.0,Don Rickles
1,8844,2157.0,Robin Williams,8537.0,Jonathan Hyde,205.0,Kirsten Dunst
2,15602,6837.0,Walter Matthau,3151.0,Jack Lemmon,13567.0,Ann-Margret
3,31357,8851.0,Whitney Houston,9780.0,Angela Bassett,18284.0,Loretta Devine
4,11862,67773.0,Steve Martin,3092.0,Diane Keaton,519.0,Martin Short