# ProductionScore 구하는 코드
- 필요 코드 : maindata_var1.2.2.csv, movies_metadata_date.csv
- 아웃풋 코드 : movies_cleaned_removed_onehot_director2.csv

In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
maindata = pd.read_csv('data/maindata_var1.2.2.csv')

maindata.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor2_id,actor2_name,actor3_id,actor3_name,actor1_score,actor2_score,actor3_score,actor_score,company_name,company_id
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,12898.0,Tim Allen,7167.0,Don Rickles,2.314125e+08,1.898334e+08,0.000000e+00,210622908,['Pixar Animation Studios'],[3]
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,3151.0,Jack Lemmon,13567.0,Ann-Margret,1.048144e+08,6.282956e+07,3.645318e+07,68032369,"['Warner Bros.', 'Lancaster Gate']","[6194, 19464]"
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,48.0,Sean Bean,10695.0,Izabella Scorupco,1.638866e+08,1.780516e+08,0.000000e+00,170969111,"['United Artists', 'Eon Productions']","[60, 7576]"
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,3547.0,Ian McNeice,4001.0,Simon Callow,2.085212e+08,1.916900e+07,9.343130e+07,107040513,"['O Entertainment', 'Warner Bros.', 'Morgan Cr...","[5682, 6194, 10210]"
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,193.0,Gene Hackman,14343.0,Rene Russo,6.889426e+07,9.699749e+07,1.764293e+08,114107021,"['Jersey Films', 'Metro-Goldwyn-Mayer (MGM)']","[216, 8411]"

In [3]:
metadata = pd.read_csv('data/movies_metadata.csv')

/var/folders/_4/mvxsg_zj2q35755ky_zps0780000gn/T/ipykernel_19728/2984535404.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('data/movies_metadata.csv')

In [4]:
# Convert release_date to datetime
metadata['release_date'] = pd.to_datetime(metadata['release_date'], errors='coerce')

In [5]:
# Step 2: Extract production company data and create a dictionary for movies produced
# Handle NaN values by replacing them with an empty list before applying ast.literal_eval
metadata['production_companies'] = metadata['production_companies'].fillna('[]').apply(ast.literal_eval)

# Create a dictionary to hold movie information for each company
company_movies_dict = {}

for idx, row in metadata.iterrows():
    release_date = row['release_date']
    movie_id = row['id']
    
    if pd.isna(release_date) or pd.isna(movie_id):
        continue

    production_companies = row['production_companies']
    for company in production_companies:
        if isinstance(company, dict) and 'id' in company:
            company_id = company['id']

            # Update the company_movies_dict
            if company_id not in company_movies_dict:
                company_movies_dict[company_id] = []
            company_movies_dict[company_id].append((release_date, movie_id))

In [6]:
maindata

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor2_id,actor2_name,actor3_id,actor3_name,actor1_score,actor2_score,actor3_score,actor_score,company_name,company_id
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,12898.0,Tim Allen,7167.0,Don Rickles,2.314125e+08,1.898334e+08,0.000000e+00,210622908,['Pixar Animation Studios'],[3]
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,3151.0,Jack Lemmon,13567.0,Ann-Margret,1.048144e+08,6.282956e+07,3.645318e+07,68032369,"['Warner Bros.', 'Lancaster Gate']","[6194, 19464]"
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,48.0,Sean Bean,10695.0,Izabella Scorupco,1.638866e+08,1.780516e+08,0.000000e+00,170969111,"['United Artists', 'Eon Productions']","[60, 7576]"
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,3547.0,Ian McNeice,4001.0,Simon Callow,2.085212e+08,1.916900e+07,9.343130e+07,107040513,"['O Entertainment', 'Warner Bros.', 'Morgan Cr...","[5682, 6194, 10210]"
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,193.0,Gene Hackman,14343.0,Rene Russo,6.889426e+07,9.699749e+07,1.764293e+08,114107021,"['Jersey Films', 'Metro-Goldwyn-Mayer (MGM)']","[216, 8411]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,Matt Reeves,32278.0,281338,150000000,146.161786,490719763,140.0,War for the Planet of the Apes,6.7,1675.0,...,57755.0,Woody Harrelson,18324.0,Steve Zahn,1.301344e+09,2.625799e+08,1.123724e+08,558765400,['Chernin Entertainment'],[7076]
1236,Roman Prygunov,235774.0,327982,2265160,1.369751,9194350,0.0,Soulless 2,4.4,11.0,...,2413.0,Dominique Pinon,NaN,NaN,1.255907e+07,8.511010e+06,0.000000e+00,10535042,"['Art Pictures Studio', 'Kinoslovo']","[3451, 21179]"
1237,Michael Bay,865.0,335988,217000000,39.186819,605425157,149.0,Transformers: The Last Knight,6.2,1440.0,...,19536.0,Josh Duhamel,209578.0,Laura Haddock,2.313437e+08,2.318618e+07,8.182663e+08,357598724,"['Paramount Pictures', 'Di Bonaventura Picture...","[4, 435, 12087, 22826]"
1238,Timur Bekmambetov,23430.0,313556,2426950,1.361724,12848123,0.0,Six Degrees of Celebration 1914,3.8,4.0,...,122539.0,Ivan Urgant,143623.0,Aleksandr Golovin,2.362124e+07,2.503026e+07,2.503026e+07,24560590,['Bazelevs Production'],[1038]
1239,Jean-Marie Poiré,64909.0,248705,25868826,7.294920,18552314,110.0,The Visitors: Bastille Day,4.0,167.0,...,28781.0,Christian Clavier,24893.0,Franck Dubosc,5.697220e+06,1.004841e+08,1.434853e+07,40176603,['Gaumont'],[9]

In [7]:
company_movies_dict

{3: [(Timestamp('1995-10-30 00:00:00'), '862'),
  (Timestamp('1998-11-25 00:00:00'), '9487'),
  (Timestamp('1999-10-30 00:00:00'), '863'),
  (Timestamp('2001-11-01 00:00:00'), '585'),
  (Timestamp('2003-05-30 00:00:00'), '12'),
  (Timestamp('2004-11-05 00:00:00'), '9806'),
  (Timestamp('1986-08-17 00:00:00'), '13925'),
  (Timestamp('2006-06-08 00:00:00'), '920'),
  (Timestamp('2007-06-22 00:00:00'), '2062'),
  (Timestamp('2008-06-22 00:00:00'), '10681'),
  (Timestamp('2009-05-13 00:00:00'), '14160'),
  (Timestamp('2009-05-28 00:00:00'), '24480'),
  (Timestamp('2010-06-16 00:00:00'), '10193'),
  (Timestamp('2010-06-17 00:00:00'), '40619'),
  (Timestamp('2008-11-17 00:00:00'), '13413'),
  (Timestamp('2011-06-11 00:00:00'), '49013'),
  (Timestamp('2002-05-24 00:00:00'), '13931'),
  (Timestamp('2006-12-28 00:00:00'), '13060'),
  (Timestamp('2012-06-21 00:00:00'), '62177'),
  (Timestamp('2008-06-18 00:00:00'), '13042'),
  (Timestamp('2004-12-31 00:00:00'), '13932'),
  (Timestamp('2003-11-04 00:00:00'), '13062'),
  (Timestamp('2005-06-21 00:00:00'), '13933'),
  (Timestamp('1988-08-01 00:00:00'), '13927'),
  (Timestamp('1987-08-17 00:00:00'), '13926'),
  (Timestamp('1997-11-24 00:00:00'), '13929'),
  (Timestamp('1989-01-01 00:00:00'), '13928'),
  (Timestamp('2000-11-01 00:00:00'), '13930'),
  (Timestamp('2013-06-20 00:00:00'), '62211'),
  (Timestamp('2013-02-12 00:00:00'), '200481'),
  (Timestamp('2013-10-15 00:00:00'), '213121'),
  (Timestamp('2011-01-01 00:00:00'), '83564'),
  (Timestamp('2006-07-27 00:00:00'), '13934'),
  (Timestamp('2007-11-06 00:00:00'), '13061'),
  (Timestamp('2009-11-09 00:00:00'), '24589'),
  (Timestamp('2009-11-10 00:00:00'), '72962'),
  (Timestamp('2011-06-16 00:00:00'), '77887'),
  (Timestamp('2011-11-23 00:00:00'), '82424'),
  (Timestamp('2012-09-14 00:00:00'), '130925'),
  (Timestamp('2012-01-01 00:00:00'), '141423'),
  (Timestamp('2014-12-02 00:00:00'), '256835'),
  (Timestamp('1984-12-17 00:00:00'), '13924'),
  (Timestamp('2015-06-09 00:00:00'), '150540'),
  (Timestamp('2015-11-14 00:00:00'), '105864'),
  (Timestamp('2015-06-21 00:00:00'), '286192'),
  (Timestamp('2015-11-25 00:00:00'), '345637'),
  (Timestamp('2016-06-16 00:00:00'), '127380'),
  (Timestamp('2016-06-16 00:00:00'), '399106'),
  (Timestamp('2011-08-04 00:00:00'), '145316'),
  (Timestamp('2015-11-03 00:00:00'), '355338'),
  (Timestamp('2017-06-15 00:00:00'), '260514'),
  (Timestamp('2017-06-16 00:00:00'), '433471')],
 559: [(Timestamp('1995-12-15 00:00:00'), '8844'),
  (Timestamp('1996-02-23 00:00:00'), '9095'),
  (Timestamp('1996-03-08 00:00:00'), '10324'),
  (Timestamp('1996-03-22 00:00:00'), '55731'),
  (Timestamp('1995-09-15 00:00:00'), '8512'),
  (Timestamp('1995-05-26 00:00:00'), '9886'),
  (Timestamp('1995-04-12 00:00:00'), '19326'),
  (Timestamp('1995-03-03 00:00:00'), '27303'),
  (Timestamp('1994-12-16 00:00:00'), '4476'),
  (Timestamp('1994-11-04 00:00:00'), '3036'),
  (Timestamp('1994-12-21 00:00:00'), '24070'),
  (Timestamp('1994-09-17 00:00:00'), '9058'),
  (Timestamp('1995-02-09 00:00:00'), '12106'),
  (Timestamp('1994-07-29 00:00:00'), '10660'),
  (Timestamp('1993-05-28 00:00:00'), '9350'),
  (Timestamp('1994-04-15 00:00:00'), '26261'),
  (Timestamp('1993-08-18 00:00:00'), '10440'),
  (Timestamp('1993-10-08 00:00:00'), '2625'),
  (Timestamp('1993-12-22 00:00:00'), '9800'),
  (Timestamp('1993-09-17 00:00:00'), '14534'),
  (Timestamp('1993-06-24 00:00:00'), '858'),
  (Timestamp('1993-07-30 00:00:00'), '10442'),
  (Timestamp('1994-04-08 00:00:00'), '10635'),
  (Timestamp('1994-09-16 00:00:00'), '37345'),
  (Timestamp('1996-04-19 00:00:00'), '40001'),
  (Timestamp('1996-04-26 00:00:00'), '29649'),
  (Timestamp('1996-08-15 00:00:00'), '9566'),
  (Timestamp('1996-10-25 00:00:00'), '9308'),
  (Timestamp('1996-08-02 00:00:00'), '10830'),
  (Timestamp('1992-03-20 00:00:00'), '402'),
  (Timestamp('1989-12-15 00:00:00'), '9665'),
  (Timestamp('1985-08-07 00:00:00'), '14370'),
  (Timestamp('1992-10-16 00:00:00'), '9529'),
  (Timestamp('1996-11-15 00:00:00'), '25189'),
  (Timestamp('1996-12-06 00:00:00'), '9390'),
  (Timestamp('1997-01-17 00:00:00'), '9622'),
  (Timestamp('1997-02-07 00:00:00'), '17949'),
  (Timestamp('1997-02-27 00:00:00'), '9366'),
  (Timestamp('1997-05-16 00:00:00'), '50850'),
  (Timestamp('1997-06-19 00:00:00'), '8874'),
  (Timestamp('1998-01-30 00:00:00'), '9458'),
  (Timestamp('1997-09-12 00:00:00'), '978'),
  (Timestamp('1997-11-06 00:00:00'), '563'),
  (Timestamp('1998-04-10 00:00:00'), '32302'),
  (Timestamp('1997-12-19 00:00:00'), '2898'),
  (Timestamp('1998-04-24 00:00:00'), '36943'),
  (Timestamp('1998-03-06 00:00:00'), '17941'),
  (Timestamp('1998-01-23 00:00:00'), '81367'),
  (Timestamp('1998-04-24 00:00:00'), '9448'),
  (Timestamp('1998-05-20 00:00:00'), '929'),
  (Timestamp('1998-07-10 00:00:00'), '35680'),
  (Timestamp('1986-06-27 00:00:00'), '13597'),
  (Timestamp('1998-07-16 00:00:00'), '9342'),
  (Timestamp('1991-02-08 00:00:00'), '2107'),
  (Timestamp('1998-09-04 00:00:00'), '37498'),
  (Timestamp('1986-07-02 00:00:00'), '18169'),
  (Timestamp('1988-04-01 00:00:00'), '11082'),
  (Timestamp('1998-09-25 00:00:00'), '9877'),
  (Timestamp('1998-10-23 00:00:00'), '9445'),
  (Timestamp('1985-06-20 00:00:00'), '11954'),
  (Timestamp('1985-10-29 00:00:00'), '13764'),
  (Timestamp('1985-05-21 00:00:00'), '1369'),
  (Timestamp('1988-05-24 00:00:00'), '1370'),
  (Timestamp('1986-07-29 00:00:00'), '29968'),
  (Timestamp('1986-10-05 00:00:00'), '10013'),
  (Timestamp('1999-01-30 00:00:00'), '18892'),
  (Timestamp('1999-03-12 00:00:00'), '22345'),
  (Timestamp('1986-12-19 00:00:00'), '26789'),
  (Timestamp('1995-10-20 00:00:00'), '48781'),
  (Timestamp('1999-08-05 00:00:00'), '10366'),
  (Timestamp('1992-07-10 00:00:00'), '9349'),
  (Timestamp('1986-01-17 00:00:00'), '11037'),
  (Timestamp('1988-11-11 00:00:00'), '11955'),
  (Timestamp('1990-06-01 00:00:00'), '861'),
  (Timestamp('1984-07-27 00:00:00'), '40771'),
  (Timestamp('1984-05-11 00:00:00'), '11393'),
  (Timestamp('1991-09-09 00:00:00'), '177'),
  (Timestamp('1984-09-11 00:00:00'), '13681'),
  (Timestamp('1984-12-14 00:00:00'), '11296'),
  (Timestamp('1985-08-16 00:00:00'), '19259'),
  (Timestamp('1989-02-03 00:00:00'), '11718'),
  (Timestamp('1986-01-01 00:00:00'), '32031'),
  (Timestamp('1987-03-27 00:00:00'), '918'),
  (Timestamp('1987-08-07 00:00:00'), '61178'),
  (Timestamp('1984-07-13 00:00:00'), '11899'),
  (Timestamp('1990-11-02 00:00:00'), '2291'),
  (Timestamp('1991-12-11 00:00:00'), '879'),
  (Timestamp('1986-08-21 00:00:00'), '15762'),
  (Timestamp('1987-03-06 00:00:00'), '635'),
  (Timestamp('1989-11-15 00:00:00'), '10860'),
  (Timestamp('1984-12-14 00:00:00'), '9507'),
  (Timestamp('1987-05-22 00:00:00'), '74340'),
  (Timestamp('1987-04-24 00:00:00'), '20287'),
  (Timestamp('1987-05-05 00:00:00'), '28368'),
  (Timestamp('1987-10-02 00:00:00'), '36914'),
  (Timestamp('1987-08-14 00:00:00'), '13509'),
  (Timestamp('1990-10-05 00:00:00'), '2302'),
  (Timestamp('1989-01-13 00:00:00'), '11607'),
  (Timestamp('1987-10-23 00:00:00'), '12623'),
  (Timestamp('1985-03-22 00:00:00'), '13938'),
  (Timestamp('1988-07-21 00:00:00'), '14911'),
  (Timestamp('1988-08-05 00:00:00'), '9599'),
  (Timestamp('1988-01-15 00:00:00'), '26355'),
  (Timestamp('1988-06-17 00:00:00'), '9604'),
  (Timestamp('1988-07-06 00:00:00'), '11966'),
  (Timestamp('1986-05-09 00:00:00'), '2605'),
  (Timestamp('1988-09-23 00:00:00'), '50203'),
  (Timestamp('1988-03-05 00:00:00'), '26798'),
  (Timestamp('1989-08-17 00:00:00'), '19124'),
  (Timestamp('1989-03-10 00:00:00'), '3064'),
  (Timestamp('1989-12-15 00:00:00'), '10551'),
  (Timestamp('1989-08-04 00:00:00'), '9972'),
  (Timestamp('1989-10-12 00:00:00'), '9494'),
  (Timestamp('1989-04-28 00:00:00'), '17362'),
  (Timestamp('1989-05-12 00:00:00'), '11185'),
  (Timestamp('1989-02-12 00:00:00'), '16560'),
  (Timestamp('1993-07-09 00:00:00'), '8494'),
  (Timestamp('1994-05-06 00:00:00'), '18885'),
  (Timestamp('1995-04-07 00:00:00'), '40508'),
  (Timestamp('1992-09-18 00:00:00'), '28384'),
  (Timestamp('1990-02-16 00:00:00'), '33796'),
  (Timestamp('1993-11-05 00:00:00'), '11982'),
  (Timestamp('1994-08-26 00:00:00'), '30114'),
  (Timestamp('1992-10-23 00:00:00'), '70489'),
  (Timestamp('1987-09-18 00:00:00'), '10081'),
  (Timestamp('1991-04-24 00:00:00'), '10750'),
  (Timestamp('1991-07-26 00:00:00'), '23303'),
  (Timestamp('1990-04-27 00:00:00'), '31598'),
  (Timestamp('1992-09-11 00:00:00'), '28881'),
  (Timestamp('2001-09-01 00:00:00'), '11299'),
  (Timestamp('1984-12-21 00:00:00'), '17464'),
  (Timestamp('1989-12-22 00:00:00'), '2263'),
  (Timestamp('1990-02-09 00:00:00'), '24558'),
  (Timestamp('1990-04-06 00:00:00'), '3101'),
  (Timestamp('1991-08-09 00:00:00'), '16790'),
  (Timestamp('1991-12-10 00:00:00'), '10337'),
  (Timestamp('1993-08-20 00:00:00'), '55950'),
  (Timestamp('1990-07-20 00:00:00'), '10168'),
  (Timestamp('1994-03-11 00:00:00'), '6472'),
  (Timestamp('1991-05-23 00:00:00'), '9292'),
  (Timestamp('1992-04-03 00:00:00'), '12395'),
  (Timestamp('1985-10-02 00:00:00'), '42045'),
  (Timestamp('1988-10-14 00:00:00'), '57744'),
  (Timestamp('1992-12-18 00:00:00'), '10435'),
  (Timestamp('1990-12-14 00:00:00'), '9356'),
  (Timestamp('1993-01-29 00:00:00'), '9545'),
  (Timestamp('1992-04-15 00:00:00'), '47821'),
  (Timestamp('1986-02-21 00:00:00'), '9542'),
  (Timestamp('1990-03-30 00:00:00'), '52741'),
  (Timestamp('1984-04-19 00:00:00'), '47825'),
  (Timestamp('1984-11-09 00:00:00'), '27414'),
  (Timestamp('1985-02-08 00:00:00'), '40929'),
  (Timestamp('1990-09-21 00:00:00'), '31597'),
  (Timestamp('2001-05-11 00:00:00'), '54491'),
  (Timestamp('1995-08-30 00:00:00'), '24962'),
  (Timestamp('2005-06-03 00:00:00'), '9787'),
  (Timestamp('1985-05-03 00:00:00'), '17824'),
  (Timestamp('2006-04-21 00:00:00'), '588'),
  (Timestamp('2006-10-27 00:00:00'), '7510'),
  (Timestamp('2007-02-08 00:00:00'), '9963'),
  (Timestamp('2007-02-14 00:00:00'), '3489'),
  (Timestamp('2007-07-27 00:00:00'), '5857'),
  (Timestamp('2007-04-27 00:00:00'), '14223'),
  (Timestamp('2007-08-08 00:00:00'), '14144'),
  (Timestamp('2007-09-07 00:00:00'), '10071'),
  (Timestamp('2008-09-26 00:00:00'), '13944'),
  (Timestamp('2009-08-05 00:00:00'), '17654'),
  (Timestamp('2009-11-19 00:00:00'), '16866'),
  (Timestamp('1987-10-30 00:00:00'), '191550'),
  (Timestamp('2010-11-23 00:00:00'), '41283'),
  (Timestamp('2011-04-08 00:00:00'), '43959'),
  (Timestamp('1984-10-14 00:00:00'), '69722'),
  (Timestamp('2011-09-30 00:00:00'), '72213'),
  (Timestamp('2011-05-06 00:00:00'), '57119'),
  (Timestamp('2012-08-17 00:00:00'), '88036'),
  (Timestamp('1984-04-06 00:00:00'), '59897'),
  (Timestamp('2013-03-14 00:00:00'), '158011'),
  (Timestamp('2013-04-05 00:00:00'), '109428'),
  (Timestamp('2013-08-07 00:00:00'), '68724'),
  (Timestamp('2014-04-16 00:00:00'), '236751'),
  (Timestamp('2014-02-18 00:00:00'), '76649'),
  (Timestamp('2014-03-25 00:00:00'), '252680'),
  (Timestamp('1985-04-03 00:00:00'), '177335'),
  (Timestamp('1987-07-10 00:00:00'), '109161'),
  (Timestamp('1987-09-04 00:00:00'), '49712'),
  (Timestamp('1985-06-06 00:00:00'), '41625'),
  (Timestamp('1984-11-02 00:00:00'), '84771'),
  (Timestamp('2015-09-30 00:00:00'), '285783'),
  (Timestamp('2001-12-02 00:00:00'), '17007'),
  (Timestamp('2016-03-17 00:00:00'), '339984'),
  (Timestamp('2016-05-12 00:00:00'), '303858'),
  (Timestamp('2016-11-10 00:00:00'), '293767'),
  (Timestamp('2017-01-27 00:00:00'), '180863'),
  (Timestamp('1986-03-21 00:00:00'), '13841'),
  (Timestamp('1985-07-19 00:00:00'), '15982'),
  (Timestamp('2017-06-28 00:00:00'), '339403'),
  (Timestamp('1986-08-22 00:00:00'), '57204')],
 2550: [(Timestamp('1995-12-15 00:00:00'), '8844'),
  (Timestamp('2005-11-06 00:00:00'), '6795')],
 10201: [(Timestamp('1995-12-15 00:00:00'), '8844'),
  (Timestamp('1995-12-29 00:00:00'), '2054'),
  (Timestamp('1995-09-08 00:00:00'), '79593'),
  (Timestamp('1995-03-01 00:00:00'), '161495'),
  (Timestamp('1994-01-07 00:00:00'), '46094'),
  (Timestamp('1994-09-23 00:00:00'), '9057'),
  (Timestamp('1996-02-14 00:00:00'), '46029'),
  (Timestamp('1995-07-28 00:00:00'), '27281'),
  (Timestamp('1996-05-10 00:00:00'), '43634'),
  (Timestamp('1996-07-17 00:00:00'), '11511'),
  (Timestamp('1996-10-25 00:00:00'), '11112'),
  (Timestamp('1998-03-26 00:00:00'), '32144'),
  (Timestamp('1988-04-01 00:00:00'), '11082'),
  (Timestamp('1998-09-11 00:00:00'), '10029'),
  (Timestamp('1999-07-30 00:00:00'), '4806'),
  (Timestamp('1987-01-30 00:00:00'), '20242'),
  (Timestamp('1999-08-11 00:00:00'), '10342'),
  (Timestamp('1992-01-10 00:00:00'), '11087'),
  (Timestamp('1992-03-27 00:00:00'), '16562'),
  (Timestamp('2000-02-18 00:00:00'), '2787'),
  (Timestamp('1990-05-18 00:00:00'), '1727'),
  (Timestamp('1984-07-20 00:00:00'), '14052'),
  (Timestamp('1987-07-10 00:00:00'), '16889'),
  (Timestamp('1989-08-17 00:00:00'), '19124'),
  (Timestamp('1987-11-27 00:00:00'), '12154'),
  (Timestamp('1990-11-21 00:00:00'), '11630'),
  (Timestamp('2002-09-24 00:00:00'), '423'),
  (Timestamp('1991-01-18 00:00:00'), '45096'),
  (Timestamp('1992-08-21 00:00:00'), '47898'),
  (Timestamp('1994-04-08 00:00:00'), '2348'),
  (Timestamp('1991-09-18 00:00:00'), '68430'),
  (Timestamp('1997-07-18 00:00:00'), '9092'),
  (Timestamp('1991-03-15 00:00:00'), '15771'),
  (Timestamp('1990-04-06 00:00:00'), '41374'),
  (Timestamp('2000-04-24 00:00:00'), '85411'),
  (Timestamp('1985-02-15 00:00:00'), '27969')],
 6194: [(Timestamp('1995-12-22 00:00:00'), '15602'),
  (Timestamp('1995-12-15 00:00:00'), '949'),
  (Timestamp('1995-11-10 00:00:00'), '9273'),
  (Timestamp('1995-10-06 00:00:00'), '9691'),
  (Timestamp('1995-11-17 00:00:00'), '33689'),
  (Timestamp('1996-01-12 00:00:00'), '19760'),
  (Timestamp('1995-11-03 00:00:00'), '11859'),
  (Timestamp('1996-01-26 00:00:00'), '36929'),
  (Timestamp('1995-05-28 00:00:00'), '688'),
  (Timestamp('1994-10-26 00:00:00'), '27793'),
  (Timestamp('1995-08-25 00:00:00'), '30765'),
  (Timestamp('1995-06-16 00:00:00'), '414'),
  (Timestamp('1995-07-19 00:00:00'), '9073'),
  (Timestamp('1995-08-04 00:00:00'), '18402'),
  (Timestamp('1995-09-15 00:00:00'), '139408'),
  (Timestamp('1995-07-13 00:00:00'), '3512'),
  (Timestamp('1995-01-27 00:00:00'), '76'),
  (Timestamp('1994-12-09 00:00:00'), '8984'),
  (Timestamp('1995-02-17 00:00:00'), '9061'),
  (Timestamp('1995-05-10 00:00:00'), '19101'),
  (Timestamp('1994-10-21 00:00:00'), '43742'),
  (Timestamp('1995-01-20 00:00:00'), '8438'),
  (Timestamp('1994-08-25 00:00:00'), '241'),
  (Timestamp('1995-03-10 00:00:00'), '6950'),
  (Timestamp('1994-10-07 00:00:00'), '2636'),
  (Timestamp('1994-09-23 00:00:00'), '278'),
  (Timestamp('1994-02-04 00:00:00'), '3049'),
  (Timestamp('1994-07-20 00:00:00'), '10731'),
  (Timestamp('1994-12-02 00:00:00'), '29973'),
  (Timestamp('1994-05-20 00:00:00'), '9359'),
  (Timestamp('1994-12-19 00:00:00'), '11011'),
  (Timestamp('1994-06-24 00:00:00'), '12160'),
  (Timestamp('1994-05-06 00:00:00'), '46924'),
  (Timestamp('1994-07-29 00:00:00'), '14522'),
  (Timestamp('1993-06-09 00:00:00'), '4722'),
  (Timestamp('1993-05-07 00:00:00'), '11566'),
  (Timestamp('1993-10-08 00:00:00'), '9739'),
  (Timestamp('1993-10-15 00:00:00'), '10443'),
  (Timestamp('1994-04-29 00:00:00'), '16297'),
  (Timestamp('1993-07-16 00:00:00'), '1634'),
  (Timestamp('1993-08-06 00:00:00'), '5503'),
  (Timestamp('1993-12-24 00:00:00'), '31642'),
  (Timestamp('1994-03-11 00:00:00'), '11934'),
  (Timestamp('1993-09-09 00:00:00'), '1413'),
  (Timestamp('1993-05-27 00:00:00'), '12121'),
  (Timestamp('1993-08-25 00:00:00'), '10502'),
  (Timestamp('1996-03-15 00:00:00'), '2320'),
  (Timestamp('1993-10-15 00:00:00'), '31911'),
  (Timestamp('1994-09-16 00:00:00'), '41588'),
  (Timestamp('1993-11-24 00:00:00'), '9559'),
  (Timestamp('1994-09-30 00:00:00'), '103413'),
  (Timestamp('1993-08-13 00:00:00'), '11236'),
  (Timestamp('1982-06-25 00:00:00'), '78'),
  (Timestamp('1994-09-09 00:00:00'), '41590'),
  (Timestamp('1993-09-09 00:00:00'), '319'),
  (Timestamp('1994-04-22 00:00:00'), '24405'),
  (Timestamp('1989-06-23 00:00:00'), '268'),
  (Timestamp('1996-03-22 00:00:00'), '10988'),
  (Timestamp('1996-05-10 00:00:00'), '664'),
  (Timestamp('1996-06-21 00:00:00'), '9268'),
  (Timestamp('1996-07-24 00:00:00'), '1645'),
  (Timestamp('1996-08-16 00:00:00'), '10478'),
  (Timestamp('1996-08-23 00:00:00'), '23945'),
  (Timestamp('1996-09-06 00:00:00'), '3587'),
  (Timestamp('1942-11-26 00:00:00'), '289'),
  (Timestamp('1941-11-18 00:00:00'), '963'),
  (Timestamp('1964-10-21 00:00:00'), '11113'),
  (Timestamp('1938-05-13 00:00:00'), '10907'),
  (Timestamp('1956-10-10 00:00:00'), '1712'),
  (Timestamp('1955-03-09 00:00:00'), '220'),
  (Timestamp('1939-01-28 00:00:00'), '26378'),
  (Timestamp('1949-12-31 00:00:00'), '40206'),
  (Timestamp('1941-03-12 00:00:00'), '32574'),
  (Timestamp('1996-10-25 00:00:00'), '1770'),
  (Timestamp('1996-10-04 00:00:00'), '9625'),
  (Timestamp('1991-06-14 00:00:00'), '8367'),
  (Timestamp('1996-10-18 00:00:00'), '819'),
  (Timestamp('1996-05-29 00:00:00'), '38191'),
  (Timestamp('1972-08-23 00:00:00'), '21711'),
  (Timestamp('1965-07-01 00:00:00'), '11575'),
  (Timestamp('1958-10-07 00:00:00'), '11331'),
  (Timestamp('1954-05-29 00:00:00'), '521'),
  (Timestamp('1955-10-27 00:00:00'), '221'),
  (Timestamp('1951-09-18 00:00:00'), '702'),
  (Timestamp('1996-01-03 00:00:00'), '200383'),
  (Timestamp('1980-10-06 00:00:00'), '10765'),
  (Timestamp('1975-11-18 00:00:00'), '510'),
  (Timestamp('1971-12-18 00:00:00'), '185'),
  (Timestamp('1987-06-26 00:00:00'), '600'),
  (Timestamp('1984-10-26 00:00:00'), '279'),
  (Timestamp('1984-02-16 00:00:00'), '311'),
  (Timestamp('1983-10-20 00:00:00'), '9549'),
  (Timestamp('1948-01-24 00:00:00'), '3090'),
  (Timestamp('1980-05-22 00:00:00'), '694'),
  (Timestamp('1992-08-07 00:00:00'), '33'),
  (Timestamp('1944-09-23 00:00:00'), '212'),
  (Timestamp('1967-06-22 00:00:00'), '903'),
  (Timestamp('1946-08-23 00:00:00'), '910'),
  (Timestamp('1991-09-12 00:00:00'), '10341'),
  (Timestamp('1992-06-19 00:00:00'), '364'),
  (Timestamp('1992-10-08 00:00:00'), '8845'),
  (Timestamp('1996-12-20 00:00:00'), '17795'),
  (Timestamp('1996-12-25 00:00:00'), '2928'),
  (Timestamp('1997-04-18 00:00:00'), '9415'),
  (Timestamp('1997-02-13 00:00:00'), '11419'),
  (Timestamp('1997-02-21 00:00:00'), '25624'),
  (Timestamp('1997-04-04 00:00:00'), '50512'),
  (Timestamp('1997-05-09 00:00:00'), '12499'),
  (Timestamp('1997-05-23 00:00:00'), '2058'),
  (Timestamp('1997-06-20 00:00:00'), '415'),
  (Timestamp('1997-07-11 00:00:00'), '686'),
  (Timestamp('1997-08-08 00:00:00'), '18519'),
  (Timestamp('1997-08-07 00:00:00'), '8834'),
  (Timestamp('1997-08-15 00:00:00'), '8854'),
  (Timestamp('1997-09-19 00:00:00'), '2118'),
  (Timestamp('1997-09-05 00:00:00'), '14289'),
  (Timestamp('1997-10-17 00:00:00'), '1813'),
  (Timestamp('1997-11-07 00:00:00'), '9770'),
  (Timestamp('1997-11-14 00:00:00'), '45928'),
  (Timestamp('1997-11-14 00:00:00'), '9414'),
  (Timestamp('1997-07-13 00:00:00'), '22797'),
  (Timestamp('1997-11-21 00:00:00'), '8197'),
  (Timestamp('1997-12-25 00:00:00'), '9922'),
  (Timestamp('1998-02-13 00:00:00'), '10153'),
  (Timestamp('1998-03-06 00:00:00'), '11808'),
  (Timestamp('1998-04-10 00:00:00'), '795'),
  (Timestamp('1998-04-17 00:00:00'), '9771'),
  (Timestamp('1998-05-15 00:00:00'), '18937'),
  (Timestamp('1998-06-05 00:00:00'), '1965'),
  (Timestamp('1998-07-10 00:00:00'), '944'),
  (Timestamp('1937-10-02 00:00:00'), '43278'),
  (Timestamp('1981-05-15 00:00:00'), '9443'),
  (Timestamp('1989-12-13 00:00:00'), '403'),
  (Timestamp('1971-06-21 00:00:00'), '466'),
  (Timestamp('1973-12-26 00:00:00'), '9552'),
  (Timestamp('1977-06-17 00:00:00'), '11586'),
  (Timestamp('1987-03-06 00:00:00'), '941'),
  (Timestamp('1989-07-07 00:00:00'), '942'),
  (Timestamp('1992-05-15 00:00:00'), '943'),
  (Timestamp('1984-06-07 00:00:00'), '927'),
  (Timestamp('1990-06-15 00:00:00'), '928'),

In [8]:
# Step 3: Iterate over maindata to calculate recent 5-year movie lists for each production company
recent_7_year_movie_ids = []

for idx, row in maindata.iterrows():
    # release_year, release_month, release_day를 사용하여 release_date 생성
    try:
        # 연도, 월, 일을 문자열로 합쳐서 하나의 날짜 형식으로 만듦 (예: "2017-03-02")
        release_date_str = f"{row['release_year']}-{row['release_month']:02d}-{row['release_day']:02d}"
        release_date = pd.to_datetime(release_date_str, errors='coerce')
    except:
        release_date = pd.NaT

    # 제작사 정보 추출
    production_companies = ast.literal_eval(row['company_id']) if pd.notna(row['company_id']) else []

    # 각 제작사별로 최근 7년간 제작한 영화 ID 리스트 구하기
    company_movie_lists = []

    for company_id in production_companies:
        # 회사별로 최근 7년 동안의 영화 ID 추출
        if company_id in company_movies_dict:
            cutoff_date = release_date - pd.DateOffset(years=7)
            movies_in_last_7_years = [
                movie_id for date, movie_id in company_movies_dict[company_id]
                if pd.notna(date) and cutoff_date < date < release_date
            ]
            company_movie_lists.append(movies_in_last_7_years)

    # 결과 추가
    recent_7_year_movie_ids.append(company_movie_lists)

# Add column to maindata
maindata['recent_7_year_movie_ids'] = recent_7_year_movie_ids

In [9]:
# company_movies_dict

In [10]:
maindata

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor2_name,actor3_id,actor3_name,actor1_score,actor2_score,actor3_score,actor_score,company_name,company_id,recent_7_year_movie_ids
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,Tim Allen,7167.0,Don Rickles,2.314125e+08,1.898334e+08,0.000000e+00,210622908,['Pixar Animation Studios'],[3],[[13928]]
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,Jack Lemmon,13567.0,Ann-Margret,1.048144e+08,6.282956e+07,3.645318e+07,68032369,"['Warner Bros.', 'Lancaster Gate']","[6194, 19464]","[[949, 9273, 9691, 33689, 11859, 688, 27793, 3..."
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,Sean Bean,10695.0,Izabella Scorupco,1.638866e+08,1.780516e+08,0.000000e+00,170969111,"['United Artists', 'Eon Productions']","[60, 7576]","[[451, 11780, 10428, 8973, 10802, 380, 11497, ..."
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,Ian McNeice,4001.0,Simon Callow,2.085212e+08,1.916900e+07,9.343130e+07,107040513,"['O Entertainment', 'Warner Bros.', 'Morgan Cr...","[5682, 6194, 10210]","[[], [9691, 11859, 688, 27793, 30765, 414, 907..."
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,Gene Hackman,14343.0,Rene Russo,6.889426e+07,9.699749e+07,1.764293e+08,114107021,"['Jersey Films', 'Metro-Goldwyn-Mayer (MGM)']","[216, 8411]","[[680, 2788, 10410], [9348, 15128, 178, 18658,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,Matt Reeves,32278.0,281338,150000000,146.161786,490719763,140.0,War for the Planet of the Apes,6.7,1675.0,...,Woody Harrelson,18324.0,Steve Zahn,1.301344e+09,2.625799e+08,1.123724e+08,558765400,['Chernin Entertainment'],[7076],"[[61791, 88042, 75612, 136795, 119450, 154400,..."
1236,Roman Prygunov,235774.0,327982,2265160,1.369751,9194350,0.0,Soulless 2,4.4,11.0,...,Dominique Pinon,NaN,NaN,1.255907e+07,8.511010e+06,0.000000e+00,10535042,"['Art Pictures Studio', 'Kinoslovo']","[3451, 21179]","[[16911, 203793, 18122, 316269, 132759, 326011..."
1237,Michael Bay,865.0,335988,217000000,39.186819,605425157,149.0,Transformers: The Last Knight,6.2,1440.0,...,Josh Duhamel,209578.0,Laura Haddock,2.313437e+08,2.318618e+07,8.182663e+08,357598724,"['Paramount Pictures', 'Di Bonaventura Picture...","[4, 435, 12087, 22826]","[[10196, 38778, 39440, 41436, 45317, 44264, 39..."
1238,Timur Bekmambetov,23430.0,313556,2426950,1.361724,12848123,0.0,Six Degrees of Celebration 1914,3.8,4.0,...,Ivan Urgant,143623.0,Aleksandr Golovin,2.362124e+07,2.503026e+07,2.503026e+07,24560590,['Bazelevs Production'],[1038],"[[8909, 31162, 71469, 50357, 57809, 85317, 723..."
1239,Jean-Marie Poiré,64909.0,248705,25868826,7.294920,18552314,110.0,The Visitors: Bastille Day,4.0,167.0,...,Christian Clavier,24893.0,Franck Dubosc,5.697220e+06,1.004841e+08,1.434853e+07,40176603,['Gaumont'],[9],"[[15588, 37707, 23830, 61404, 65233, 77338, 41..."

In [11]:
# Step 4: Calculate average revenue for each company in the recent 7-year movie lists
production_scores = []

for movie_lists in recent_7_year_movie_ids:
    avg_revenues = []

    # 각 제작사별로 수익 평균 계산
    for movie_ids in movie_lists:
        revenues = []
        for movie_id in movie_ids:
            # metadata에서 해당 영화의 revenue 가져오기
            if movie_id in metadata['id'].values:
                revenue = metadata.loc[metadata['id'] == movie_id, 'revenue'].values[0]
                if revenue > 0:  # revenue가 0인 경우 제외
                    revenues.append(revenue)

        # 유효한 수익이 있는 경우 평균 계산
        if revenues:
            avg_revenue = np.mean(revenues)
            avg_revenues.append(avg_revenue)

    # 각 제작사별 평균 수익 중 최대값 계산
    production_score = max(avg_revenues) if avg_revenues else 0
    # print(production_score)
    production_scores.append(production_score)

# Add production_score column to maindata
maindata['production_score'] = production_scores

In [12]:
#production_score 정수로 변환
maindata['production_score'] = maindata['production_score'].astype(int)

maindata.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor3_id,actor3_name,actor1_score,actor2_score,actor3_score,actor_score,company_name,company_id,recent_7_year_movie_ids,production_score
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,7167.0,Don Rickles,2.314125e+08,1.898334e+08,0.000000e+00,210622908,['Pixar Animation Studios'],[3],[[13928]],0
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,13567.0,Ann-Margret,1.048144e+08,6.282956e+07,3.645318e+07,68032369,"['Warner Bros.', 'Lancaster Gate']","[6194, 19464]","[[949, 9273, 9691, 33689, 11859, 688, 27793, 3...",87845993
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,10695.0,Izabella Scorupco,1.638866e+08,1.780516e+08,0.000000e+00,170969111,"['United Artists', 'Eon Productions']","[60, 7576]","[[451, 11780, 10428, 8973, 10802, 380, 11497, ...",156167015
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,4001.0,Simon Callow,2.085212e+08,1.916900e+07,9.343130e+07,107040513,"['O Entertainment', 'Warner Bros.', 'Morgan Cr...","[5682, 6194, 10210]","[[], [9691, 11859, 688, 27793, 30765, 414, 907...",83477178
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,14343.0,Rene Russo,6.889426e+07,9.699749e+07,1.764293e+08,114107021,"['Jersey Films', 'Metro-Goldwyn-Mayer (MGM)']","[216, 8411]","[[680, 2788, 10410], [9348, 15128, 178, 18658,...",117004306

In [13]:
company_id_lengths = maindata['company_id'].apply(lambda x: len(eval(x)))

### production_score 0인 경우 채우는 로직

- 시각화 통해서 company_id 갯수별 평균 production_score가 정비례 관계인 것 확인.
- company_id 갯수별 평균 production_score로 채워주기

In [14]:
# production_score가 0이고 company_id의 리스트 요소 갯수가 1인 경우 production_score 94325413로 변경
# production_score가 0이고 company_id 갯수가 2인 경우 production_score 139698475로 변경
# production_score가 0이고 company_id 갯수가 3인 경우 production_score 174224580로 변경
# production_score가 0이고 company_id 갯수가 4인 경우 production_score 210608101로 변경
# production_score가 0이고 company_id 갯수가 6인 경우 production_score 245379094로 변경

maindata.loc[(maindata['production_score'] == 0) & (company_id_lengths == 1), 'production_score'] = 94325413
maindata.loc[(maindata['production_score'] == 0) & (company_id_lengths == 2), 'production_score'] = 139698475
maindata.loc[(maindata['production_score'] == 0) & (company_id_lengths == 3), 'production_score'] = 174224580
maindata.loc[(maindata['production_score'] == 0) & (company_id_lengths == 4), 'production_score'] = 210608101
maindata.loc[(maindata['production_score'] == 0) & (company_id_lengths == 6), 'production_score'] = 245379094

In [15]:
maindata.head()

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor3_id,actor3_name,actor1_score,actor2_score,actor3_score,actor_score,company_name,company_id,recent_7_year_movie_ids,production_score
0,John Lasseter,7879.0,862,30000000,21.946943,394436586,81.0,Toy Story,7.7,5415.0,...,7167.0,Don Rickles,2.314125e+08,1.898334e+08,0.000000e+00,210622908,['Pixar Animation Studios'],[3],[[13928]],94325413
1,Howard Deutch,26502.0,15602,25000000,11.712900,71500000,101.0,Grumpier Old Men,6.5,92.0,...,13567.0,Ann-Margret,1.048144e+08,6.282956e+07,3.645318e+07,68032369,"['Warner Bros.', 'Lancaster Gate']","[6194, 19464]","[[949, 9273, 9691, 33689, 11859, 688, 27793, 3...",87845993
2,Martin Campbell,10702.0,710,58000000,14.686036,352200000,130.0,GoldenEye,6.6,1194.0,...,10695.0,Izabella Scorupco,1.638866e+08,1.780516e+08,0.000000e+00,170969111,"['United Artists', 'Eon Productions']","[60, 7576]","[[451, 11780, 10428, 8973, 10802, 380, 11497, ...",156167015
3,Steve Oedekerk,4489.0,9273,30000000,8.205448,212385533,90.0,Ace Ventura: When Nature Calls,6.1,1128.0,...,4001.0,Simon Callow,2.085212e+08,1.916900e+07,9.343130e+07,107040513,"['O Entertainment', 'Warner Bros.', 'Morgan Cr...","[5682, 6194, 10210]","[[], [9691, 11859, 688, 27793, 30765, 414, 907...",83477178
4,Barry Sonnenfeld,5174.0,8012,30250000,12.669608,115101622,105.0,Get Shorty,6.4,305.0,...,14343.0,Rene Russo,6.889426e+07,9.699749e+07,1.764293e+08,114107021,"['Jersey Films', 'Metro-Goldwyn-Mayer (MGM)']","[216, 8411]","[[680, 2788, 10410], [9348, 15128, 178, 18658,...",117004306

In [16]:
maindata.loc[maindata['production_score'] == 0]

,director_name,director_id,id,budget,popularity,revenue,runtime,title,vote_average,vote_count,...,actor3_id,actor3_name,actor1_score,actor2_score,actor3_score,actor_score,company_name,company_id,recent_7_year_movie_ids,production_score
400,Sally Mattison,98939.0,27767,350000,1.986075,1242995,87.0,Slumber Party Massacre III,5.4,20.0,...,97880.0,Maria Ford,0.000000e+00,0.000000e+00,0.0,0,[],[],[],0
538,Dale Schott,85365.0,19975,3400000,2.508783,12000000,76.0,Care Bears Movie II: A New Generation,5.5,11.0,...,34985.0,Cree Summer,0.000000e+00,0.000000e+00,0.0,6452690,[],[],[],0
568,Hideo Nakata,26875.0,9669,6000000,5.277814,31365000,92.0,Ringu 2,5.4,81.0,...,13253.0,Kyoko Fukada,1.603147e+07,1.940000e+07,0.0,17715737,[],[],[],0
670,Matthew Barney,116018.0,23985,1700000,0.695043,7982,79.0,Cremaster 2,5.8,9.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.0,0,[],[],[],0
674,Matthew Barney,116018.0,23986,4000000,0.806208,11047,182.0,Cremaster 3,6.8,10.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.0,0,[],[],[],0
692,Norio Tsuruta,58677.0,9674,6000000,5.007142,11918069,99.0,Ringu 0,5.8,49.0,...,27788.0,Kumiko Asou,0.000000e+00,0.000000e+00,0.0,5918692,[],[],[],0
751,Rakesh Roshan,1032103.0,32740,5000000,4.431245,16000000,154.0,Krrish,5.5,47.0,...,77234.0,Priyanka Chopra,8.533333e+06,9.513260e+07,8191541.0,37285825,[],[],[],0
825,Sanaa Hamri,64140.0,10188,27000000,4.631978,44352417,117.0,The Sisterhood of the Traveling Pants 2,6.1,244.0,...,59174.0,America Ferrera,9.889344e+07,3.909845e+07,25258803.0,54416898,[],[],[],0
975,Sajid Khan,14086.0,85052,6071922,1.047079,25097277,145.0,Housefull 2,5.0,28.0,...,84957.0,Ritesh Deshmukh,1.727839e+07,8.633333e+06,16000000.0,13970573,[],[],[],0
1003,Andrew Morahan,53599.0,19139,10000000,3.128836,7600,91.0,Goal! III : Taking On The World,3.8,36.0,...,30710.0,J. J. Feild,1.773789e+07,1.557717e+07,5874530.0,13063197,[],[],[],0
1054,Rakesh Roshan,1032103.0,204435,20000000,11.114030,84000000,152.0,Krrish 3,5.8,42.0,...,35756.0,Rajpal Yadav,4.847500e+07,2.946578e+07,10000000.0,29313594,[],[],[],0
1104,Raymond Jafelice,110557.0,33838,5000000,0.803093,6000000,75.0,The Care Bears Adventure in Wonderland,4.6,5.0,...,110549.0,Dan Hennessey,3.400000e+07,3.400000e+07,0.0,34000000,[],[],[],0
1164,Yegor Konchalovsky,127367.0,41955,5000000,0.191539,340312,113.0,Antikiller,4.8,5.0,...,NaN,NaN,0.000000e+00,0.000000e+00,0.0,0,[],[],[],0
1178,Vivek Agnihotri,126763.0,109907,1300000,0.679086,2300000,141.0,Hate Story,6.4,11.0,...,239706.0,Saurabh Dubey,0.000000e+00,0.000000e+00,0.0,8124137,[],[],[],0
1179,Vishal Pandya,1342526.0,282346,2300000,1.383588,4600000,130.0,Hate Story 2,4.5,12.0,...,1256448.0,Jay Bhanushali,0.000000e+00,2.200000e+06,0.0,2200000,[],[],[],0
1197,Sajid Khan,14086.0,58051,3800000,1.974336,16000000,135.0,Housefull,5.2,31.0,...,53975.0,Deepika Padukone,2.092723e+07,3.566643e+06,15641488.8,13378455,[],[],[],0
1198,Russell Holt,229198.0,36046,7500000,0.527570,3347647,110.0,The Work and the Glory,6.1,7.0,...,33337.0,Eric Johnson,0.000000e+00,2.814900e+04,0.0,28149,[],[],[],0
1199,Sterling Van Wagenen,1053020.0,14631,6500000,0.797014,2025032,100.0,The Work and the Glory II: American Zion,8.0,6.0,...,33337.0,Eric Johnson,1.085238e+08,1.687898e+06,3347647.0,37853123,[],[],[],0
1200,Sterling Van Wagenen,1053020.0,32523,6500000,0.752508,1325092,89.0,The Work and the Glory III: A House Divided,7.5,2.0,...,33337.0,Eric Johnson,7.302423e+07,1.800276e+06,2686339.5,25836947,[],[],[],0
1210,Sergei Glezin,146924.0,52939,3000000,1.412333,20157447,73.0,Tri bogatyrya i Shamakhanskaya tsaritsa,5.6,15.0,...,110031.0,Oleg Kulikovich,3.468423e+06,0.000000e+00,0.0,3468423,[],[],[],0
1221,Aleksei Sidorov,143660.0,56372,3500000,0.768181,8262833,126.0,Shadowboxing,5.0,13.0,...,224281.0,Denis Nikiforov,1.355918e+06,0.000000e+00,0.0,1355918,[],[],[],0
1230,Pavel Sanaev,118324.0,37851,3500000,0.884241,2294357,0.0,Hooked on the Game 2. The Next Level,5.1,14.0,...,118336.0,Agniya Ditkovskite,3.704408e+06,3.704408e+06,3704408.0,3704408,[],[],[],0
1231,Pavel Sanaev,118324.0,37656,3500000,1.900502,3704408,97.0,Hooked on the Game,6.0,13.0,...,118336.0,Agniya Ditkovskite,0.000000e+00,0.000000e+00,0.0,8788447,[],[],[],0
1233,Eldar Salavatov,127378.0,29361,2500000,0.928271,2141028,91.0,Antikiller D.K,4.6,5.0,...,1047930.0,Yusup Bakhshiev,1.578762e+07,8.321959e+06,0.0,12054790,[],[],[],0

In [17]:
# 저장
# maindata.to_csv('data/maindata_ver2.0.csv', index=False)

In [18]:
# # production_score 0이 아닌 데이터 출력
# temp_df = maindata.loc[maindata['production_score'] != 0]

# # 데이터 저장
# temp_df.to_csv('data/production_tempdata.csv', index=False)