In [1]:
import pandas as pd
import ast

In [24]:
# outlier 제외 maindata 수정 : maindata_var1.2.1
maindata = pd.read_csv('/content/drive/MyDrive/EPOCH/data/maindata_ver1.2.csv')
maindata = maindata[maindata['id'] != 135397]

maindata.to_csv('/content/drive/MyDrive/EPOCH/data/maindata_var1.2.1.csv', index=False)
metadata = pd.read_csv('/content/drive/MyDrive/EPOCH/data/Copy of movies_metadata.csv')

<ipython-input-24-1a83bfb1aa01>:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('/content/drive/MyDrive/EPOCH/data/Copy of movies_metadata.csv')

metadata set에서 `production_companies` 열에서 `company_name`, `company_id`, `id` 뽑아내기

In [28]:
import ast
import pandas as pd

# Define a function to extract the list of production_company's names and ids from the production_companies column
def extract_production_company_info(production_company_data):
    if pd.isna(production_company_data):  # Check if the data is NaN
        return pd.Series([[], []])
    try:
        production_company_list = ast.literal_eval(production_company_data)
        if isinstance(production_company_list, list) and len(production_company_list) > 0:
            company_names = [company.get('name') for company in production_company_list]
            company_ids = [company.get('id') for company in production_company_list]
            return pd.Series([company_names, company_ids])
        else:
            return pd.Series([[], []])
    except (ValueError, SyntaxError):  # Catch exceptions related to malformed data
        return pd.Series([[], []])

# Apply the function to extract production company information
metadata[['company_name', 'company_id']] = metadata['production_companies'].apply(extract_production_company_info)

# Create the final DataFrame with company names, company ids, and movie id
production_company_df = metadata[['company_name', 'company_id', 'id']]
production_company_df

# Display the result
# import ace_tools as tools; tools.display_dataframe_to_user(name="Production Company Information", dataframe=production_company_df)

,company_name,company_id,id
0,[Pixar Animation Studios],[3],862
1,"[TriStar Pictures, Teitler Film, Interscope Co...","[559, 2550, 10201]",8844
2,"[Warner Bros., Lancaster Gate]","[6194, 19464]",15602
3,[Twentieth Century Fox Film Corporation],[306],31357
4,"[Sandollar Productions, Touchstone Pictures]","[5842, 9195]",11862
...,...,...,...
45461,[],[],439050
45462,[Sine Olivia],[19653],111109
45463,[American World Pictures],[6165],67758
45464,[Yermoliev],[88753],227506
45465,[],[],461257

`company_name`, `company_id` 컬럼을 `id` 기준으로 maindata_var1.2.1 과 merge

In [33]:
production_company_df['id'].astype('int')

maindata_new = pd.merge(maindata, production_company_df, on='id', how='inner')

ValueError: invalid literal for int() with base 10: '1997-08-20'